@import './init.scss';
@import './variables.scss';
@import './element-def.scss';
// @import './siderbar.scss';

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-size: 14px;
}

label {
  font-weight: 700;
}


*,
*:before,
*:after {
  box-sizing: border-box;
}









